*.class
*.patch

# Package Files #
*.jar
*.war
*.ear

# Intellij Files
*.eml
*.iml

# Eclipse files
.classpath
.project
.settings/

# Mobi files
*.mobi
*.html
*.htm

.gitignore

test_output
test_content
doc
bin
/CBrookmyre
/content
